.card-wrapper {
    cursor: default;
    perspective: 1000px;
    height: 240px;
    width: 176px;

    animation: card-appear 0.25s ease-out both;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;

    transform: rotateY(180deg);
}

.visible {
    transform: rotateY(0deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--card-bg);
    font-family: 'Jetbrains Mono';

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-front.red {
    color: var(--card-red);
}

.card-front.black {
    color: var(--card-black);
}

.card-icon {
  position: absolute;
}

.card-icon:first-child {
  top: 11px;
  left: 11px;
}

.card-icon:last-child {
    bottom: 11px;
    right: 11px;
    transform: rotate(180deg);
}

.card-icon > .card-value {
    font-size: 24px;
}

.card-icon > .card-color {
    margin-top: -8px;
    font-size: 32px;
}

.card-figure {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    font-size: 162px;
    text-align: center;
}

.card-back {
    transform: rotateY(180deg);
    background-color: var(--card-back);
    border: 10px solid var(--card-bg);
    outline-offset: -32px;
    outline: double 3px var(--card-outline);
}

.show-on-hover:hover .card {
    transform: rotateY(0deg);
}

@keyframes card-appear {
    0% {
        transform: translateX(-20px);
        opacity: 0;
        filter: blur(2px);
    }
    50% { opacity: 1; }

    100% { 
        filter: blur(0); 
        transform: translateX(0);
    }
}


