.AdminApp {
  display: flex;
  background-color: var(--baize-green);
  min-height: 100vh;
  padding: 170px 0;
  justify-content: center;
}

#admin-page {
  position: relative;
  min-height: calc(100% - 340px);
  width: 1096px;
  background: var(--card-bg);
  border-radius: 10px;
  outline-offset: -20px;

  padding: 80px;

  font-size: 18px;
  font-family: 'Jetbrains Mono';
}

#admin-page:before {
  pointer-events: none;
  position: absolute;
  content: '';
  top: 10px;
  left: 10px;

  box-sizing: border-box;

  height: calc(100% - 20px);
  width: calc(100% - 20px);

  border-radius: 6px;

  border: 10px solid var(--baize-green);
}

.user-grid, .game-grid {
  margin-top: 32px;
  display: grid;
  border-radius: 6px;
  overflow: hidden;
  border: #C4C4C4 1px solid;
}

.game-grid {
  grid-template-columns: 3fr 1fr 1fr;
}

.user-grid {
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.user-grid > div, .game-grid > div {
  min-height: 52px;
}

.user-grid > div:not(.grid-header), .game-grid > div:not(.grid-header) {
  border: #C4C4C4 1px solid;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.grid-header {
  background : var(--card-black);
  color: var(--card-bg);
  text-align: center;
  padding: 14px;
}
