.HomePageApp {
  display: flex;
  background-color: var(--baize-green);
  min-height: 100vh;
  padding: 0px 412px;
  align-items: center;
}

#home-page {
  position: relative;
  height: 340px;
  width: 100%;
  background: var(--card-bg);
  border-radius: 10px;
  outline-offset: -20px;

  padding-top: 40px;

  display: flex;
  gap: 80px;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-family: 'Jetbrains Mono';
  text-align: center;
}

#home-page:before {
  pointer-events: none;
  position: absolute;
  content: '';
  top: 10px;
  left: 10px;

  box-sizing: border-box;

  height: calc(100% - 20px);
  width: calc(100% - 20px);

  border-radius: 6px;

  border: 10px solid var(--baize-green);
}

.home-page-buttons {
  display: flex;
  gap: 160px;
}

.home-page-buttons > * {
  color: var(--card-black);
}
