.RegisterApp {
  display: flex;
  background-color: var(--baize-green);
  min-height: 100vh;
  padding: 0;
  align-items: center;
  justify-content: center;
}

#register-page {
  position: relative;
  height: 580px;
  width: 922px;
  background: var(--card-bg);
  border-radius: 10px;
  outline-offset: -20px;

  padding: 20px;
  padding-top: 80px;

  display: flex;
  flex-direction: row;

  font-size: 18px;
  font-family: 'Jetbrains Mono';
  text-align: center;
}

#register-page:before {
  pointer-events: none;
  position: absolute;
  content: '';
  top: 10px;
  left: 10px;

  box-sizing: border-box;

  height: calc(100% - 20px);
  width: calc(100% - 20px);

  border-radius: 6px;

  border: 10px solid var(--baize-green);
}

.register-form {
  height: 100%;
  width: 460px;
  display: flex;
  gap: 60px;
  flex-direction: column;
}

.form-input {
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
  width: 250px;
}

.form-input > input {
  background: none;
  border: none;
  border-bottom: 2px solid var(--card-black);
  font-size: 16px;
  padding: 6px 0;
  font-family: 'Jetbrains Mono';
  width: 100%;
}

.form-input > input:focus {
  outline: none;
}

.placeholder {
  pointer-events: none;
  position: absolute;
  content: attr(placeholder);
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  transition: all 0.12s ease;

  bottom: 0;
  font-size: 16px !important;
  height: 100%;
  color: #666666;
}

.form-input:focus-within > .placeholder, input:valid + .placeholder {
  bottom: calc(100% + 4px);
  font-size: 12px !important;
  padding: 0 4px;
  height: 12px;
  color: var(--baize-green);
}

.separator-register {
  height: 85%;
  width: 2px;
  background: var(--card-black);
}

.password-rules-wrapper {
  height: 85%;
  width: 460px;
}

.password-rules {
  margin-top: 20px;
  padding: 40px;
  text-align: left;
}

.password-rules > * {
  margin-bottom: 22px;
  font-size: 15px;
}
