@font-face {
    font-family: "Jetbrains Mono";
    font-weight: 400;
    src: url("./fonts/JetBrainsMono-Regular.ttf") format("truetype");
   }
   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: sans-serif;
}